.general_structure {
  width: 304px;
  min-height: 500px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

.general_structure label {
  font-weight: bold;
}
.general_structure label:after {
  content:":";
}
.general_structure .required {
  color: red;
}

.general_structure input, .general_structure select {
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  border: 2px solid initial;
  border-radius: 25px;
}

.general_structure input:hover, .general_structure select:hover, .general_structure input:focus, .general_structure select:focus {
  border-color: green; 
}

.general_structure input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#cf_input_submit {
  width: 100%;
  background-color: green;
  color: #fff;
  font-weight: bold;
}

#cf_input_submit:hover {
  width: 100%;
  background-color: green;
  color: #fff;
}

#cf_input_submit:hover, #cf_input_submit:focus {
  background-color: lime;
}

#cf_input_submit:active {
  background-color: green;
}

#cf_input_topic {
  width: 100%;
  white-space: initial;
}

#cf_input_topic, #cf_input_date, #cf_input_time, #cf_input_submit {
  cursor: pointer;
}
