.cf_general_structure {
  width: 304px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 1em;
}

.cf_any_field {
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px 0 25px 0;
  font-size: 1em;
}
 
.cf_general_structure label {
  font-weight: bold;
}
.cf_general_structure label:after {
  content:":";
}
.cf_general_structure .required {
  color: #b32424; /* Similar to Red but with contrast-ratio >= 4.50 (6.57) on White backgrounds which is good for accessibility */
}

.cf_general_structure input:hover, .cf_general_structure select:hover, .cf_general_structure input:focus, .cf_general_structure select:focus {
  border-color: green; 
}

.cf_general_structure input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#cf_input_topic, #cf_input_date, #cf_input_time, #cf_input_submit {
  cursor: pointer;
}

#cf_input_topic, #cf_input_name, #cf_input_email, #cf_input_phone, #cf_input_website, #cf_input_notes {
  width: 100%; 
}

#cf_input_topic {
  white-space: initial;
}

#cf_input_submit {
  width: 100%;
  background-color: green;
  font-weight: bold;
}

#cf_input_submit:hover, #cf_input_submit:focus {
  background-color: lime;
}

#cf_input_submit:active {
  background-color: green;
}
