form input {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#prcf_form_child {
  display: flex;
  flex-direction: column;
  padding: 25px !important; 
}

.prcf_context {
  width: 100%;
}

.prcf_general_structure {
  width: 304px;
  margin: 0 auto 0;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 1em;
}

.prcf_generally_any_field {
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px 0 25px 0 !important;
  padding: 5px 0 5px 0;
}

.prcf_timing_fields {
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px 0 25px 0 !important;
  padding: 5px 0 5px 0;
}
 
.prcf_general_structure label {
  font-weight: bold;
}
.prcf_general_structure label:after {
  content:":";
}
.prcf_general_structure .required {
  color: red; /* #b32424 is similar to Red but with contrast-ratio >= 4.50 (6.57) on White backgrounds which is good for accessibility */
}

.prcf_general_structure input:hover, .prcf_general_structure select:hover, .prcf_general_structure input:focus, .prcf_general_structure select:focus {
  border-color: green; 
}

.prcf_general_structure input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#prcf_input_topic, #prcf_input_date, #prcf_input_time, #prcf_input_submit {
  cursor: pointer;
}

#prcf_input_topic {
  white-space: initial;
}

#prcf_submit_area {
  padding: 25px;
}

#prcf_input_submit {
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  background-color: green;
  font-weight: bold;
  color: #fff;
}

#prcf_input_submit:focus {
  color: #fff;
}

#prcf_input_submit:hover {
  background-color: lime;
  color: #000;
}

#prcf_input_submit:active {
  background-color: green;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .prcf_general_structure {
    width: 100%;
  }
  #prcf_form_child {
    flex-direction: row;
    padding: 25px;
  }
  .prcf_context {
    width: 32%;
    padding: 25px 25px 0 25px;
  }
    
  #prcf_submit_area {
    padding: 0 25px 25px 25px; 
  }

}
