.general_structure {
  width: 304px;
  min-height: 500px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

#contact_form label {
  font-weight: bold;
}
#contact_form label:after {
  content:":";
}
#contact_form .required {
  color: red;
}

#contact_form input, #contact_form select {
  margin-top: 10px !important;
  margin-bottom: 25px !important;
  border: 2px solid initial;
  border-radius: 25px;
}

#contact_form input:hover, #contact_formselect:hover, #contact_form input:focus, #contact_form select:focus {
  border-color: green; 
}

#contact_form input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#cf_input_submit {
  width: 100%;
  background-color: green;
  color: #fff;
  font-weight: bold;
}

#cf_input_submit:hover {
  width: 100%;
  background-color: green;
  color: #fff;
}

#cf_input_submit:hover, #cf_input_submit:focus {
  background-color: lime;
}

#cf_input_submit:active {
  background-color: green;
}

#cf_input_topic, #cf_input_date, #cf_input_time, #cf_input_submit {
  cursor: pointer;
}

#success {
  font-size: 2em;
}

/* NOTES */

/* width: 304px; /*
  /* 304px Instead 320px as a "viewport innovation insurance program */
    /* In case some smartphone producer produces smartphones with less than the standard 320px viewport" */
      /* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
