#prcf_form_child {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.prcf_general_structure {
  width: 304px;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 1em;
}

.prcf_general_structure label {
  font-weight: bold;
}

.prcf_general_structure label:after {
  content:":";
}

.prcf_general_structure .required {
  color: red; /* #b32424 is similar to Red but with contrast-ratio >= 4.50 (6.57) on White backgrounds which is good for accessibility */
}

.prcf_generally_any_field {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 5px 10px 5px 10px;
  border: 2px solid #000;
  border-radius: 25px;
}
