#prcf_input_topic, #prcf_input_date, #prcf_input_time, #prcf_input_submit {
  cursor: pointer;
}

#prcf_input_notes {
  min-height: 100px;
}

.prcf_timing_fields {
  border: 2px solid #000;
  border-radius: 25px;
}

#prcf_input_submit_button {
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  background-color: green;
  font-weight: bold;
  color: #fff;
}

#prcf_input_submit_button:focus {
  color: #fff;
}

#prcf_input_submit_button:hover {
  background-color: lime;
  color: #000;
}

#prcf_input_submit_button:active {
  background-color: green;
  color: #fff;
}
