.prcf_context {
  width: 100%;
}

form input {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#prcf_form_child {
  display: flex;
  flex-direction: column;
  padding: 25px 25px 0 25px !important; 
}

.prcf_general_structure {
  width: 304px;
  margin: 0 auto 0;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 1em;
}

.prcf_generally_any_field {
  width: 100%;
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px 0 25px 0 !important;
  padding: 5px 0 5px 0;
}

.prcf_general_structure label {
  font-weight: bold;
}
.prcf_general_structure label:after {
  content:":";
}
.prcf_general_structure .required {
  color: red; /* #b32424 is similar to Red but with contrast-ratio >= 4.50 (6.57) on White backgrounds which is good for accessibility */
}

.prcf_general_structure input:hover, .prcf_general_structure select:hover, .prcf_general_structure input:focus, .prcf_general_structure select:focus {
  border-color: green; 
}

.prcf_general_structure input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
