@media screen and (min-width: 992px) {
  
  .prcf_general_structure {
    width: 100%;
  }

  .prcf_header {
    width: 100%;
  }
  
  .prcf_middle_1, .prcf_middle_2, .prcf_middle_3 {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .prcf_footer {
    width: 100%;
  }
  
}
