@media screen and (min-width: 992px) {
  
  .prcf_general_structure {
    width: 100%;
  }

  .prcf_header {
    width: 100%;
  }
  
  .prcf_middle_1, .prcf_middle_2, .prcf_middle_3 {
    display: flex;
    flex-direction: row;
    padding: 25px;
    box-sizing: border-box;
  }
  
  .prcf_middle_1 label, .prcf_middle_2 label, .prcf_middle_3 label {
    width: 100%;
  }
  
  .prcf_middle_1 div, .prcf_middle_2 div, .prcf_middle_3 div {
    width: 50%;
  }

  .prcf_footer {
    width: 100%;
  }
  
}
