@media screen and (min-width: 992px) {
  
  .prcf_general_structure {
    width: 100%;
  }

  .prcf_header {
    width: 100%;
  }

  .prcf_middle_1 {
    width: 50%;
  }

  .prcf_middle_2 {
    width: 50%;
  }

  .prcf_middle_2 {
    width: 50%;
  }

  .prcf_footer {
    width: 100%;
  }
  
}
