/* NOTES */

/* width: 304px; /*
  /* 304px Instead 320px as a "viewport innovation insurance program */
    /* In case some smartphone producer produces smartphones with less than the standard 320px viewport" */
      /* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
