.prcf_timing_fields {
  border: 2px solid #000;
  border-radius: 25px;
  margin: 10px 0 25px 0 !important;
  padding: 5px 0 5px 0;
}

#prcf_input_topic, #prcf_input_date, #prcf_input_time, #prcf_input_submit {
  cursor: pointer;
}

#prcf_input_topic {
  white-space: initial;
}

#prcf_input_submit_area {
  padding: 25px;
}

#prcf_input_submit_button {
  width: 100%;
  padding: 5px 0 5px 0;
  border: 2px solid #000;
  border-radius: 25px;
  background-color: green;
  font-weight: bold;
  color: #fff;
}

#prcf_input_submit_button:focus {
  color: #fff;
}

#prcf_input_submit_button:hover {
  background-color: lime;
  color: #000;
}

#prcf_input_submit_button:active {
  background-color: green;
  color: #fff;
}

/*
@media screen and (max-width: 991px) {
  #prcf_input_time {
    margin-bottom: 0 !important;
  }
}
*/

@media screen and (min-width: 992px) {
  .prcf_general_structure {
    width: 100%;
  }
  #prcf_form_child {
    flex-direction: row;
    padding: 25px;
  }
  .prcf_context {
    width: 50%;
    padding: 0 25px 0 25px;
  }
    
  #prcf_input_submit_area {
    padding: 0 25px 25px 25px; 
  }

}
