.general_structure {
  width: 304px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

#success {
  min-height: 250px;
  font-size: 2em !important;
  color: #000 !important;
}
