form, #success {
  width: 304px;
  min-height: 500px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

#success {
  font-size: 2em;
}

label, #cf_input_submit {
  font-weight: bold;
}
label:after {
  content:":";
}
.required {
  color: red;
}

input, select {
  margin-top: 10px;
  margin-bottom: 25px;
  border: 2px solid initial;
  border-radius: 25px;
}

input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#cf_input_submit {
  width: 100%;
  background-color: green;
  color: #fff;
}

#cf_input_submit:hover {
  width: 100%;
  background-color: green;
  color: #fff;
}


#cf_input_submit:hover, #cf_input_submit:focus {
  background-color: lime;
}

#cf_input_submit:active {
  background-color: green;
}

#cf_input_topic, #cf_input_date, #cf_input_time, #cf_input_submit {
  cursor: pointer;
}

/* NOTES */

/* width: 304px; /*
  /* 304px Instead 320px as a "viewport innovation insurance program */
    /* In case some smartphone producer produces smartphones with less than the standard 320px viewport" */
      /* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
