.required:after {content:"* "; color: red;}

form, #success {
  max-width: 480px;
  width: 100%;
  min-height: 500px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

#success {
  font-size: 2em;
}

label {
  margin-bottom: 25px;
}

input {
  margin-bottom: 25px;
  border-radius: 25px;
}

input:last-child {
  margin-bottom: 0;
}
