.required:after {content:"* "; color: red;}

form, #success {
  width: 304px;
  min-height: 500px;
  margin: 0 auto 0;
  padding: 25px;
  border: 2px solid green;
  border-radius: 25px;
  font-size: 1em;
}

#success {
  font-size: 2em;
}

label {
  font-weight: bold;
}

label:after {
  content:":";
}

input, select {
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 25px;
}

input:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#submit {
  width: 100%;
  background-color: green;
  color: #fff;
}

#cf_topic, #cf_date, #cf_time {
  cursor: pointer;
}

/* NOTES */

/* width: 304px; /*
  /* 304px Instead 320px as a "viewport innovation insurance program */
    /* In case some smartphone producer produces smartphones with less than the standard 320px viewport" */

/* https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
